html { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #F9FAFB;
}
* { 
    box-sizing: border-box;
}
body { 
    height: 100%;
    margin: 0;
}

p { 
    font-family: sans-serif;
}

input,
textarea,
select,
button {
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* quicksand-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/quicksand-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

.outermost-div { 
    display: flex;
    /* border: 5px solid black; */
    height: 100%;
    padding: 0;
    width: 100%;
    margin: 0;
}

.left-outer-div { 
    width: 33.33333333%;
    height: 100vh;
    /* padding: 5px; */
    /* border: 5px blue solid; */
    background-image: url(/imgs/sean-lee-Yli_dIlJ2Sk-unsplash.jpg);
    background-size: cover;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.transparent-inner-div { 
    display: flex; 
    justify-content: center;
    align-items: center; 
    /* border: 5px yellow solid; */
    height: 100%;
}

.logo { 
    width: 7em;
    filter:invert();
}

.transparent-text { 
    font-size: 6em;
    margin: 0;
    padding: 0;
    font-family: Quicksand, Times New Roman;
    color: white;
}

.left-transparent-div { 
    margin-top: 10em;
    height: 14.5%;
    width: 100%;
    background: rgb(0, 0, 0, 0.5);
    margin-bottom: auto;
    /* border: 5px green solid; */
    display: flex; 
    justify-content: center;
    flex-direction: column;

}

.right-outer-div { 
    width: 66.666666%;
    height: 100vh;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    /* border: 5px red solid; */

}

.right-middle-div { 
    /* border: 5px green solid;  */
    background-color: white;
    height: 29%;
    margin: 0;
    display: flex; 
    /* flex-wrap: wrap; */
    flex-direction: column;
    padding: 0;
    align-content: space-between;
    box-shadow: 0px 0.25em 7px rgba(0,0,0,0.08);

}

.upper-form-div { 
    display: flex; 
    /* padding: 0.25em;  */
    width: 100%;
    margin-right: 15em;
    
}

.right-lower-div { 
    /* border: 5px yellow solid;  */
    /* padding-top: 5em; 
    padding-bottom: 5em;
    padding-left: 1em; */
    height: 34.5%;

}

.right-upper-div { 
    /* border: 5px orange solid;  */
    padding-top: 4em; 
    height: 36.3%;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 10em;
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

input { 
    width: 14em;
    border-color: #E5E7EB;
    box-shadow: none;
    border-radius: 0.3em;
    border: 1px #E5E7EB solid;
    padding: 0.25em;
}
label { 
    font-size: 0.75em;
    font-weight: 500;
    letter-spacing: 1.25px;
}
.right-upper-div p { 
    font-weight: 550;
    font-size: 1.25em;
}
.img-credit { 
    color: white;
    margin-top: auto; 
    font-size: 0.8em; 
    font-weight: 200;
}

.img-credit a { 
    text-underline-position: under
}


.form-pair { 
    display: flex;
    flex-direction: column;
    margin-right: 3em;
    width: 20vh;
    margin-left: 2em;
    margin-bottom: 1em;

}


.form-header { 
    font-weight: bold; 
    font-size: 1.25em;
    margin-left: 1.8em;
    margin-top: 0.95em;
}
button:active {
    box-shadow: inset -2px -2px 10px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

button {
    font: bold 0.8em sans-serif;
    color: white;
    border: 2px solid#333;
    border-radius: 5px;
    background: none;
    cursor: pointer;
    padding: 0.9em;
    width: 13em;
    background-color:burlywood;
    border: none;
    margin-left: 2.7em; 
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
    margin-top: 2em; 
}

input:focus,
textarea:focus {
  border: none;
  outline: none;
  border: 1px solid blue;
  border-radius: 5px;
  box-shadow: 0px 0.25em 10px rgba(0,0,0,0.2);
}

button + p { 
    margin-left: 2.8em;
    margin-top: 2em;
    font-size: 13px;
    
}

input[type="tel"]:invalid:active { 
    border: red 5px solid; 
}